<div class="row">
    <h3>Clientii nostri</h3>  
  </div>
  <div class="row logouri-clienti">
    <div class="col-xs-4 col-sm-3 col-md-3">
      <a href="http://cosmote.ro/" class="thumbnail"> 
        <img src="/assets/icons/cosmote.png" alt="...">
      </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-3 last">    
      <a href="http://new.promenada.ro/" class="thumbnail">  
        <img src="/assets/icons/promenada.png" alt="...">
      </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-3 last">  
      <a href="http://www.coca-cola.ro/" class="thumbnail">     
        <img src="/assets/icons/coca-cola.png" alt="...">
      </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-3">
      <a href="http://www.billa.ro/" class="thumbnail">
        <img src="/assets/icons/billa.png" alt="...">
      </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-3 last">  
      <a href="http://www.ambafrance-ro.org/" class="thumbnail"> 
        <img src="/assets/icons/ambasada-frantei.png" alt="...">
      </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-3 last">    
      <a href="http://www.mega-image.ro/" class="thumbnail">  
        <img src="/assets/icons/mega-image.png" alt="...">
      </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-3">
      <a href="http://www.lamonza.ro/" class="thumbnail">
        <img src="/assets/icons/lamonza.png" alt="...">
      </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-3 last">    
      <a href="http://www.galeriareal.ro/" class="thumbnail">  
        <img src="/assets/icons/galeria-real.png" alt="...">
      </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-3 last">  
      <a href="http://uti.eu.com/" class="thumbnail">     
        <img src="/assets/icons/uti-grup.png" alt="...">
      </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-3 last">
      <a href="http://www.realitatea.net/" class="thumbnail">     
        <img src="/assets/icons/realitatea.png" alt="...">
      </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-3 last">  
      <a href="http://www.kaufland.ro/" class="thumbnail">
        <img src="/assets/icons/kaufland.png" alt="...">
      </a>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-3 last">    
      <a href="http://www.daas.ro/" class="thumbnail"> 
        <img src="/assets/icons/daas-impex.png" alt="...">
      </a>
    </div>
  </div>