#portofoliu{
  .container {
    h4 {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      font-family:  Chunkfive, sans-serif, Helvetica, Arial, sans-serif;
    }

    ul {
      list-style: none;
      font-family: Helvetica, Arial, sans;
      li:before {
        content: "• ";
        font-weight: bold;
        color: #008A71;
      }
      li:last-child {
        font-weight:bold;
        color: red;
      }
    }
  }
}